{% extends 'base.html' %} {% block content %} {% block script %}

{% endblock %}
<div class="container">
    <h2>This is a blog site where I share what I feel through Quotes. Enjoy!</h2>
  <div class="container mt-3">
    <div class="container ml-5">
      <p>1. Service to others is the rent you pay for your room here on earth.</p>
    </div>
  </div>
  <div class="container mt-3">
      <div class="container ml-5">
        <p>2. If my mind can conceive it, and my heart can believe it—then I can achieve it</p>
      </div>
  </div>
  <div class="container mt-3">
    <div class="container ml-5">
      <p>3. Don’t count the days; make the days count</p>
    </div>
  </div>
  <div class="container mt-3">
    <div class="container ml-5">
      <p>4. It isn’t the mountains ahead to climb that wear you out; it’s the pebble in your shoe</p>
    </div>
  </div>
</div>
{% endblock %}

